footer {
    margin-top: 100px;
    width: 100%;
    background: #111;
  
    height: auto;
  
    padding-top: 40px;
  
    color: #fff;
  }
  
  .footer-content {
    display: flex;
  
    align-items: center;
  
    justify-content: center;
  
    flex-direction: column;
  
    text-align: center;
  }
  
  .footer-content h3 {
    font-size: 2.1rem;
  
    font-weight: 500;
  
    text-transform: capitalize;
  
    line-height: 3rem;
  }
  
  .footer-content p {
  
    margin: 10px auto;
  
    line-height: 28px;
  
    font-size: 14px;
  
    color: #cacdd2;
  }
  
  .socials {
    list-style: none;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .socials li{
    transition: .5s;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }

  
  .socials li img{
    height: 100%;
    width: 100%;
    object-fit: fill;
    cursor: pointer;
    transition: .5s;
  }
  .socials li:hover{
    animation: bounce .75s ease infinite;
    box-shadow: 0 0 1rem white;
  }
  @keyframes bounce{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
  }
  
  .socials a {
    text-decoration: none;
  
    color: #fff;
  
    padding: 5px;
  }
  
  .socials a i {
    font-size: 1.1rem;
  
    width: 20px;
  
    transition: color 0.4s ease;
  }
  
  .socials a:hover i {
    color: aqua;
  }
  
  .footer-bottom {
    background: #000;
  
    padding: 20px;
  
    padding-bottom: 40px;
  
    text-align: center;
  }
  
  .footer-bottom p {
    float: left;
  
    font-size: 14px;
  
    word-spacing: 2px;
  }
  
  .footer-bottom p a {
    color: #ccc;
  
    font-size: 16px;
  
    text-decoration: none;
  }
  
  .footer-bottom span {
    text-transform: uppercase;
  }
  
  .footer-menu {
    float: right;
  }
  
  .footer-menu ul {
    display: flex;
  }
  
  .footer-menu ul li {
    padding-right: 10px;
  
    display: block;
  }
  
  .footer-menu ul li a {
    color: #cfd2d6;
  
    text-decoration: none;
  }
  
  .footer-menu ul li a:hover {
    color: #27bcda;
  }
  
  @media (max-width: 500px) {
    .footer-bottom p {
      float: none;
    }
  
    .footer-menu ul {
      display: flex;
  
      margin-top: 10px;
  
      margin-bottom: 20px;
  
      text-align: center;
    }
  }